body {
  font-family: Arial;
  padding: 20px;
  background: #f9f9f9;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.menu-item {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

.veg {
  color: green;
  font-weight: bold;
}
